# =========================
# Environment
# =========================

.env


# =========================
# Java / Spring Boot
# =========================

target/
*.class
*.log


# =========================
# IntelliJ IDEA
# =========================

.idea/
*.iml


# =========================
# VS Code
# =========================

.vscode/


# =========================
# Node.js
# =========================

node_modules/
dist/
build/


# =========================
# React Native / Expo
# =========================

.expo/
.expo-shared/
android/
ios/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db